<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Internet Tools | A collection of 100+ best tools of the internet</title>

    <meta name="og:title" property="og:title" content="Best Internet Tools"> 
    <!-- <p>Best Internet Tools is a curated list of the best tools for startups, entrepreneurs, and developers.</p> -->

    <meta name="description" content="Best Internet Tools | A collection of 100+ best tools of the internet from productivity tools to saas products">
    <meta name="keywords" content="best,internet,tools,free,internet.tools,producthunt,betapage,collection,tool"  >
    <meta name="author" content="Tanmay Makode">
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <!-- <meta property="og:image" content="https://flipclock.tk/images/cover_image_website.png" /> -->
    <meta property="og:image:alt" content="Best Internet Tools" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.bestinternet.tools/" />
    <meta property="og:description" content="Best Internet Tools | A collection of 100+ best tools of the internet from productivity tools to saas products" />

    <meta name="twitter:title" content="Best Internet Tools">
    <!-- <meta name="twitter:card" content="summary_large_image"> -->
    <meta name="twitter:creator" content="@tanmay_makode_">
    <meta name="twitter:description" content="A collection of 100+ best tools of the internet">
    <!-- <meta name="twitter:image:src" content="https://flipclock.tk/images/cover_image_website.png"> -->
    <meta name="twitter:domain" content="bestinternet.tools">

    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Best Internet Tools"/>

    <link href="/public/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/public/logo.png" type="image/png" sizes="16x16">

    <meta name="google-site-verification" content="Zzqc1DNQv1djK4nf6s7btEB77cfuSzWiMw96vukOVHw" />
</head>
<html>
<body>
    <!-- <p id="performance">performance 🚀</p> -->
    <svg id="performance" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-speedometer" viewBox="0 0 16 16">
        <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
        <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
    </svg>

    
    <div class="desktop">
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>

        <img class="icon icon1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Notion-logo.svg/1024px-Notion-logo.svg.png">
        <img class="icon icon2" src="https://ph-files.imgix.net/d20962fa-6bca-4f4a-810a-2ff5a1d48438.png?auto=compress&codec=mozjpeg&cs=strip&auto=format&w=64&h=64&fit=crop&dpr=2">
        <img class="icon icon3" src="https://ph-files.imgix.net/7a01a00b-d41d-4367-b44e-e1d0a672819b.jpeg?auto=compress&codec=mozjpeg&cs=strip&auto=format&w=64&h=64&fit=crop&dpr=2">
        <img class="icon icon4" src="https://ph-files.imgix.net/92f47709-ee31-4a20-8815-2ea52e4a13c0.jpeg?auto=compress&codec=mozjpeg&cs=strip&auto=format&w=64&h=64&fit=crop&dpr=2">
        
        <img class="logo" src="/public/logo.png" alt="Best Internet Tools Logo">
                
        <div class="pre_launch_container">
            <h1><bold>NICE </bold> of 100+ best <br> tools of the <bold>internet</bold></h1>
    
            <div class="cta">
                <a href="https://tally.so/r/3xVYNJ" id="form_cta">Submit tools</a>
                <a href="https://twitter.com/tanmay_makode_" id="twitter_cta">Latest updates on twitter</a>
            </div>
        </div>
        <p class="launching_soon">Launching soon 🚀</p>
    </div>

    <!-- CATEGORIES -->
    <div class="categories">
        <a href="?category=all#tools">All</a>
        <a href="?category=design#tools">design</a>
        <a href="?category=developer#tools">developer</a>
        <a href="?category=productivity#tools">productivity</a>
        <a href="?category=marketing#tools">marketing</a>
        <a href="?category=no-code#tools">no-code</a>
        <a href="?category=AI#tools">AI</a>
        <a href="?category=notion#tools">notion</a>
        <a href="?category=saas#tools">saas</a>
    </div>

    <div class="mobile">
        <div class="header">
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
    
            <img class="icon icon1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Notion-logo.svg/1024px-Notion-logo.svg.png">
            <img class="icon icon2" src="https://ph-files.imgix.net/d20962fa-6bca-4f4a-810a-2ff5a1d48438.png?auto=compress&codec=mozjpeg&cs=strip&auto=format&w=64&h=64&fit=crop&dpr=2">
            <img class="icon icon3" src="https://ph-files.imgix.net/7a01a00b-d41d-4367-b44e-e1d0a672819b.jpeg?auto=compress&codec=mozjpeg&cs=strip&auto=format&w=64&h=64&fit=crop&dpr=2">
            <img class="icon icon4" src="https://ph-files.imgix.net/92f47709-ee31-4a20-8815-2ea52e4a13c0.jpeg?auto=compress&codec=mozjpeg&cs=strip&auto=format&w=64&h=64&fit=crop&dpr=2">
            
            <img class="logo" src="/public/logo.png" alt="Best Internet Tools Logo">
                
            <div class="pre_launch_container">
                <h1><bold>Collection </bold> of 100+ best <br> tools of the <bold>internet</bold></h1>
        
                <div class="cta">
                    <a href="https://tally.so/r/3xVYNJ" id="form_cta">Submit tools</a>
                    <a href="https://twitter.com/tanmay_makode_" id="twitter_cta">Latest updates on twitter</a>
                </div>
            </div>

            <p class="launching_soon">Launching soon 🚀</p>
        </div>

        <div class="categories_mobile">
            <a href="?category=all#tools">All</a>
            <a href="?category=design#tools">design</a>
            <a href="?category=developer#tools">developer</a>
            <a href="?category=productivity#tools">productivity</a>
            <a href="?category=marketing#tools">marketing</a>
            <a href="?category=no-code#tools">no-code</a>
            <a href="?category=AI#tools">AI</a>
            <a href="?category=notion#tools">notion</a>
            <a href="?category=saas#tools">saas</a>
        </div>

        <div class="tools_container_mobile" id="tools">
            <% tool.forEach(function (item) { %>
                <div class="tool">
                    <img src="<%= item.properties.icon.url %>" alt="bestinternet.tools">   
    
                    <a href="" class="tool_name_with_link">
                        <h3 id="tool_name"><%= item.properties.Name.title[0].plain_text %></h3>
                    </a>
                    <p class="hide" id="copy_link">🔗</p>
    
                    <p id="tool_description"><%= item.properties['description'].rich_text[0].plain_text %></p>
                    <a class="hide link" href="<%= item.properties['link'].url; %>">Learn more</a>
                    <p class='' id="tool_category"><%= item.properties.category.multi_select[0].name %></p>
                </div>
            <% }) %>

        </div>
    </div>
        
    <div class="tools_container" id="tools">
        <% tool.forEach(function (item) { %>
            <div class="tool">
                <img src="<%= item.properties.icon.url %>" alt="bestinternet.tools">   

                <a href="" class="tool_name_with_link">
                    <h3 id="tool_name"><%= item.properties.Name.title[0].plain_text %></h3>
                </a>
                <p class="hide" id="copy_link">🔗</p>

                <p id="tool_description"><%= item.properties['description'].rich_text[0].plain_text %></p>
                <a class="hide link" href="<%= item.properties['link'].url; %>">Learn more</a>
                <p class='' id="tool_category"><%= item.properties.category.multi_select[0].name %></p>
            </div>
        <% }) %>
    </div>

    <div class="pagination">
        <% if (tool_page != null){ %>
            <% if (tool_page == "1"){ %>
                <a href="/">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.4637 5.4593L8.923 12L15.4637 18.5408C15.5126 18.5896 15.5553 18.6422 15.5919 18.6976C15.8482 19.0858 15.8054 19.6133 15.4637 19.955C15.0732 20.3455 14.4401 20.3455 14.0495 19.955L6.80168 12.7071C6.61415 12.5196 6.50879 12.2653 6.50879 12C6.50879 11.7348 6.61415 11.4805 6.80168 11.2929L14.0495 4.04509C14.4401 3.65457 15.0732 3.65457 15.4637 4.04509C15.8543 4.43561 15.8543 5.06878 15.4637 5.4593Z" fill="black"/>
                    </svg>
                </a>
            <% } else { %>
                <a href="?p=page<%= tool_page - 1 %>#tools">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.4637 5.4593L8.923 12L15.4637 18.5408C15.5126 18.5896 15.5553 18.6422 15.5919 18.6976C15.8482 19.0858 15.8054 19.6133 15.4637 19.955C15.0732 20.3455 14.4401 20.3455 14.0495 19.955L6.80168 12.7071C6.61415 12.5196 6.50879 12.2653 6.50879 12C6.50879 11.7348 6.61415 11.4805 6.80168 11.2929L14.0495 4.04509C14.4401 3.65457 15.0732 3.65457 15.4637 4.04509C15.8543 4.43561 15.8543 5.06878 15.4637 5.4593Z" fill="black"/>
                    </svg>
                </a>
            <% } %>

            <a href="?p=page1#tools">1</a>
            <a href="?p=page2#tools">2</a>
            <a href="?p=page3#tools">3</a>
            <a href="?p=page4#tools">4</a>

        <% } else { %>
            <a href="?p=page1#tools">1</a>
            <a href="?p=page2#tools">2</a>
            <a href="?p=page3#tools">3</a>
            <a href="?p=page4#tools">4</a>
        <% } %>

    </div>

    <section>
        <div class="promotion">
            <div class="details">
                <h1>Promote your product</h1>
                <p>Share your tool with thousands of entrepreneurs, developers, creators and more</p>
                <a href="">Advertise tool</a>
            </div>

            <h1 class="showcase_image">🚀</h1>
        </div>

        <div class="footer">
            <div class="container">
                <a href="">Twitter</a>
                <a href="">Contact</a>
                <a href="">Send feedback</a>
            </div>

            <div class="container">
                <a href="">Behind the scenes</a>
                <a href="">Advertise</a>
            </div>
            
            <div class="container">
                <a href="">flipclock.tk</a>
                <a href="">trendvault</a>
            </div>

            <div class="made_with">
                <a href="">Made with notion</a>
                <svg width="22" height="22" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.017 4.313l55.333 -4.087c6.797 -0.583 8.543 -0.19 12.817 2.917l17.663 12.443c2.913 2.14 3.883 2.723 3.883 5.053v68.243c0 4.277 -1.553 6.807 -6.99 7.193L24.467 99.967c-4.08 0.193 -6.023 -0.39 -8.16 -3.113L3.3 79.94c-2.333 -3.113 -3.3 -5.443 -3.3 -8.167V11.113c0 -3.497 1.553 -6.413 6.017 -6.8z" fill="#fff"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M61.35 0.227l-55.333 4.087C1.553 4.7 0 7.617 0 11.113v60.66c0 2.723 0.967 5.053 3.3 8.167l13.007 16.913c2.137 2.723 4.08 3.307 8.16 3.113l64.257 -3.89c5.433 -0.387 6.99 -2.917 6.99 -7.193V20.64c0 -2.21 -0.873 -2.847 -3.443 -4.733L74.167 3.143c-4.273 -3.107 -6.02 -3.5 -12.817 -2.917zM25.92 19.523c-5.247 0.353 -6.437 0.433 -9.417 -1.99L8.927 11.507c-0.77 -0.78 -0.383 -1.753 1.557 -1.947l53.193 -3.887c4.467 -0.39 6.793 1.167 8.54 2.527l9.123 6.61c0.39 0.197 1.36 1.36 0.193 1.36l-54.933 3.307 -0.68 0.047zM19.803 88.3V30.367c0 -2.53 0.777 -3.697 3.103 -3.893L86 22.78c2.14 -0.193 3.107 1.167 3.107 3.693v57.547c0 2.53 -0.39 4.67 -3.883 4.863l-60.377 3.5c-3.493 0.193 -5.043 -0.97 -5.043 -4.083zm59.6 -54.827c0.387 1.75 0 3.5 -1.75 3.7l-2.91 0.577v42.773c-2.527 1.36 -4.853 2.137 -6.797 2.137 -3.107 0 -3.883 -0.973 -6.21 -3.887l-19.03 -29.94v28.967l6.02 1.363s0 3.5 -4.857 3.5l-13.39 0.777c-0.39 -0.78 0 -2.723 1.357 -3.11l3.497 -0.97v-38.3L30.48 40.667c-0.39 -1.75 0.58 -4.277 3.3 -4.473l14.367 -0.967 19.8 30.327v-26.83l-5.047 -0.58c-0.39 -2.143 1.163 -3.7 3.103 -3.89l13.4 -0.78z" fill="#000"/>
                </svg>
            </div>
        </div>
    </section>

    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
<script>
    let performance = document.querySelector('#performance');
    let blob = document.querySelectorAll('.blob');

    performance.addEventListener('click', () => {
        blob.forEach((item) => {
            item.classList.toggle('hide');
        });
    });


    const copyLink = document.querySelectorAll('#copy_link');
    const tool = document.querySelectorAll('.tool');

    tool.forEach(function (item) {
        item.addEventListener('mouseover', function () {
            item.querySelector('#copy_link').classList.remove('hide');
            
        })  

        item.addEventListener('click', function () {
            const link = item.querySelector('.link').href;
            navigator.clipboard.writeText(link);
            item.querySelector('#copy_link').innerHTML = 'copied! 🚀';
            setTimeout(function () {
                item.querySelector('#copy_link').innerHTML = '🔗';
            }, 1000);
        })

        item.addEventListener('mouseleave', function () {
            item.querySelector('#copy_link').classList.add('hide');
        })
    })

    if (window.location.hash) {
        var hash = window.location.hash;
    
        if (hash == '#tools') {
            window.scrollTo(0, 1000);
        }
    }

    var category = document.querySelector('.categories');
    var category_mobile = document.querySelector('.categories_mobile');
    var sticky = category.offsetTop;
    var sticky_mobile = category_mobile.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            category.classList.add("sticky")
        } 
        else {
            category.classList.remove("sticky");
        }

        if (window.pageYOffset >= sticky_mobile) {
            category_mobile.classList.add("sticky") 
        } 
        else {
            category_mobile.classList.remove("sticky");
        }
    }

    window.onscroll = function() {myFunction()};
</script>
</html>